# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.VR_tuto.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\eugen\Documents\M1\VR\Unity projects\ProjetVR_Tuto-main\VR_tuto\.idea\.idea.VR_tuto\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
